<!DOCTYPE html>
<html>
<head>
{% block site_title %}
    {% if title %}
    <title>{{ title }}</title>
    {% else %}
    <title>Adventures in Py</title>
    {% endif %}
{% endblock %}
    <link rel="stylesheet" type="text/css" href="/media/css/menu.css" />
    <link rel="stylesheet" type="text/css" href="/media/css/style.css" />
    <link rel="stylesheet" type="text/css" href="/media/google-code-prettify/distrib/google-code-prettify/sunburst.css" />
    <script type="text/javascript" src="/media/google-code-prettify/distrib/google-code-prettify/prettify.js"></script>
    <script type="text/javascript" src="/media/js/jquery.min.js"></script>
    <!--<script type="text/javascript" src="/media/js/jquery.init.js"></script>-->
    {%  for css_file in css_files %}
        <link rel="stylesheet" type="text/css" href="{{ css_file }}" />
    {% endfor %}
{% block extra_header %}

{% endblock %}
    <script type="text/javascript">
        function LoadComplete(){
            prettyPrint()
            {% block pagereadyJS %}

            {% endblock %}
            $("#search").val("Search...").addClass("empty");

            // When you click on #search
            $("#search").focus(function(){

                // If the value is equal to "Search..."
                if($(this).val() == "Search...") {
                    // remove all the text and the class of .empty
                    $(this).val("").removeClass("empty");;
                }

            });

            // When the focus on #search is lost
            $("#search").blur(function(){

                // If the input field is empty
                if($(this).val() == "") {
                    // Add the text "Search..." and a class of .empty
                    $(this).val("Search...").addClass("empty");
                }

            });
        }

    </script>
</head>
<body onload="LoadComplete();">
<div class="wrap">
{% block site_header %}
    <div style="display:block;background-image:url(/media/python_header1.gif);background-repeat:no-repeat;width:100%;height:200px;background-position:center;margin:0px;padding:0px;"></div>
{% endblock %}
{% block site_menu %}
    {% include "base/menu.html" %}
{% endblock %}
<div id="main_content">
{% block content %}
    No Content Your template should override
{% endblock %}
</div>
<div style="clear:both"></div>
</div>
{% block site_footer %}
    <div class="footer">(c) Joran Beasley 2012<span style="float:right">Powered by Django</span></div>
{% endblock %}
</body>
</html>
{% block posthtml %}

{% endblock %}