<div id="nav_holder">
<div style="width:100%;text-align:center;background-color:#000000">

<ul id="nav">
    <li><a href="#">Home</a></li>
    <li><a href="#">About</a></li>
    <li><a href="#">Services</a></li>
    <li><a href="#">Products</a></li>
    <li><a href="#">Sitemap</a></li>
    <li><a href="#">Help</a></li>
    <li><a href="#">Contact Us</a></li>
</ul>
    <span style="float:right;margin:0px;margin-right:5px;" id="search-form">
        <form action="/search.php" method="GET">
        <input type="search" id="search" name="q"/><input type="submit" id="search-submit" value="search" />
        </form>

    </span>
</div>
<div style="clear:both"></div>
</div>
