{% extends "base/main.html" %}
{% load truncatehtml %}
{% load google_login %}
{% block extra_header %}
    <link rel="stylesheet" type="text/css" href="/media/css/social/css/zocial.css" />
    <link href='http://fonts.googleapis.com/css?family=Pompiere' rel='stylesheet' type='text/css'>
{% endblock %}
{% block content %}
<a href="/">Blog</a><strong> &gt; </strong><a href="/category/{{ entry.category.url }}"> {{ entry.category.title }}</a> <strong> &gt; <i>{{ entry.title }}</i> </strong>
<hr>
<div><a href="/view/{{ entry.url }}">{{ entry.title }}</a></div>
<div>{{ entry.body|safe }}</div>
    <!-- Place this tag where you want the +1 button to render. -->
    <div class="g-plusone" data-annotation="inline" data-width="300"></div>
<a href="#comments_form" onclick="$('#comments_form').show()" >Add Comment</a>

    {% include 'blog/comment_form.html' %}
    {#%  if request.session.user_info %#}

    {#%  else %#}
    {#% endif %#}
<div id="comments">
{%  for comment in entry.comments %}
<div id="comment">
{{ comment.author }} says, <br/>
{{ comment }}
<hr/>
</div>
{%  endfor %}
</div>

{% endblock %}

{%  block posthtml %}
    <!-- Place this tag after the last +1 button tag. -->
    <script type="text/javascript">
        (function() {
            var po = document.createElement('script'); po.type = 'text/javascript'; po.async = true;
            po.src = 'https://apis.google.com/js/plusone.js';
            var s = document.getElementsByTagName('script')[0]; s.parentNode.insertBefore(po, s);
        })();
    </script>
{% endblock %}
