{% extends "base/main.html" %}
{% load truncatehtml %}
{% load google_login %}
{% block extra_header %}
    <link rel="stylesheet" type="text/css" href="/media/css/social/css/zocial.css" />
    <link href='http://fonts.googleapis.com/css?family=Pompiere' rel='stylesheet' type='text/css'>
{% endblock %}
{% block content %}

    {{  entry|safe }}


    {#%  if request.session.user_info %#}

    {#%  else %#}
    {#% endif %#}
    {% include 'blog/comment_form.html' %}

{% endblock %}

{%  block posthtml %}
    <!-- Place this tag after the last +1 button tag. -->
    <script type="text/javascript">
        (function() {
            var po = document.createElement('script'); po.type = 'text/javascript'; po.async = true;
            po.src = 'https://apis.google.com/js/plusone.js';
            var s = document.getElementsByTagName('script')[0]; s.parentNode.insertBefore(po, s);
        })();
    </script>
{% endblock %}
